#dream {
  width: 100%;

  .container {
    .content {
      margin-bottom: 2rem;

      p {
        width: 610px;
        max-width: 100%;
      }
    }

    .box {
      img {
        width: 100%;
        height: 220px;
        object-fit: cover;

        margin-bottom: 14px;
        border-radius: 8px;
      }

      h4 {
        margin-bottom: 6px;
      }
    }
  }
}
