#inspiration {
  width: 100%;

  .container {
    h2.title {
      margin-bottom: 24px;
    }

    .box {
      position: relative;
      height: 280px;
      border-radius: 8px;
      padding: 20px;

      > * {
        z-index: 2;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        inset: 0;
        border-radius: 8px;
        background-image: linear-gradient(
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.5) 100%
        );
      }

      &.bg1 {
        background: url(../images/inspiration/1.jpg) center/cover;
      }

      &.bg2 {
        background: url(../images/inspiration/2.jpg) center/cover;
      }

      &.bg3 {
        background: url(../images/inspiration/3.jpg) center/cover;
      }

      p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}
