#things {
  width: 100%;

  .container {
    .head {
      margin-bottom: clamp(32px, 5vw, 40px);

      a {
        font-weight: 400;
        font-size: 28px;
        line-height: 28.13px;
        transition: color 0.3s ease;

        &:hover {
          color: var(--accent);
        }
      }
    }

    .overlay {
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        180deg,
        rgba(5, 7, 60, 0) 0%,
        rgb(5, 7, 60, 0.5) 100%
      );
      border-radius: 12px;
      padding: 30px;

      display: flex;
      align-items: end;

      @media (max-width: 991px) {
        padding: 20px;
      }
    }

    .desktop-boxes-wrapper {
      height: 510px;

      .box {
        height: 100%;
        border-radius: 12px;
      }

      .left .box {
        &.bg1 {
          background: url(../images/things/cruises.png) center/cover;
        }

        &.bg2 {
          background: url(../images/things/museum.png) center/cover;
        }
      }

      .middle-img-box .box {
        background: url("../images/things/beach.png") center/cover;
      }

      .right .box {
        &.bg1 {
          background: url("../images/things/city.png") center/cover;
        }

        &.bg2 {
          background: url("../images/things/food.png") center/cover;
        }

        &.bg3 {
          background: url("../images/things/hiking.png") center/cover;
        }
      }
    }

    .mobile-boxes-wrapper {
      .box {
        border-radius: 12px;
        height: clamp(182px, 33vw, 250px);

        &.cruises-bg {
          background: url("../images/things/cruises.png") center/cover;
        }

        &.food-bg {
          background: url("../images/things/food.png") center/cover;
        }

        &.city-bg {
          background: url("../images/things/city.png") center/cover;
          height: clamp(184px, 34vw, 260px);
        }

        &.beach-bg {
          background: url("../images/things/beach.png") center/cover;
          height: clamp(296px, 46vw, 350px);
        }

        &.hiking-bg {
          background: url("../images/things/hiking.png") center/cover;
        }

        &.museum-bg {
          background: url("../images/things/museum.png") center/cover;
        }
      }
    }
  }
}
